.wrapper-3Un6-K:hover [src^="https://cdn.discordapp.com/avatars/discordid/"] {
    content: url('newavatarurl');
}

.wrapper-3Un6-K [src^="https://cdn.discordapp.com/avatars/1081588818550997096/"] {
    content: url('https://i.ibb.co/2PhXd8j/ezgif-1-5594c65fcb.gif');
}

.contents-2MsGLg:hover [src^="https://cdn.discordapp.com/avatars/1081588818550997096/"] {
    content: url('https://i.ibb.co/2PhXd8j/ezgif-1-5594c65fcb.gif');
}

.contents-2MsGLg [src^="https://cdn.discordapp.com/avatars/1081588818550997096/"] {
    content: url('https://i.ibb.co/2PhXd8j/ezgif-1-5594c65fcb.gif');
}

.wrapper-1VLyxH [src^="https://cdn.discordapp.com/avatars/1081588818550997096/"] {
    content: url('https://i.ibb.co/2PhXd8j/ezgif-1-5594c65fcb.gif');
}

.layout-1qmrhw [src^="https://cdn.discordapp.com/avatars/1081588818550997096/"] {
    content: url('https://i.ibb.co/2PhXd8j/ezgif-1-5594c65fcb.gif');
}

.container-YkUktl:hover [src^="https://cdn.discordapp.com/avatars/1081588818550997096/"] {
    content: url('https://i.ibb.co/2PhXd8j/ezgif-1-5594c65fcb.gif');
}

.container-YkUktl [src^="https://cdn.discordapp.com/avatars/1081588818550997096/"] {
    content: url('https://i.ibb.co/2PhXd8j/ezgif-1-5594c65fcb.gif');
}

.avatar-1HDIsL [src^="https://cdn.discordapp.com/avatars/1081588818550997096/"] {
    content: url('https://i.ibb.co/2PhXd8j/ezgif-1-5594c65fcb.gif');
}

.participant-1l6khj [src^="https://cdn.discordapp.com/avatars/1081588818550997096/"] 
{
 content: url('https://i.ibb.co/2PhXd8j/ezgif-1-5594c65fcb.gif');
}
