/* FoxStorm1 */

.avatar-1BDn8e[src*="789872551731527690"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy::after {
  content: "";
  background-image: url('https://i.imgur.com/8EsecpG.png');
  transform: scale(1.6);
  border-color: transparent !important;
  background-color: transparent !important;
  }
  
.avatar-1BDn8e[src*="789872551731527690"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy:hover::after {
  content: "He's Sus! 😮";
  animation: fadeIn .5s;
  color: white;
  border-color: white;
  width: 150px;
  top: -1px;
  font-size: 14px;
  text-align: center;
  border-radius: 4px;
  padding: 2px 5px;
  background-size: cover;
  background: linear-gradient(0deg, rgba(0,0,0,1) 1%, rgba(253,45,45,1) 100%);
  transform: scale(1);
  transition: 
    color .2s ease,
    background-color .2s ease;
}

#app-mount [data-user-id="789872551731527690"] .badgeList-1R1WgZ::after,
#app-mount [data-user-id="789872551731527690"] .profileBadges-ohc0Vu::after,
#app-mount [data-user-id="789872551731527690"] .badges-XRnWAp::after {
  content: "";
  width: 22px;
  height: 22px;
  background: url("https://i.imgur.com/MpibCg6.gif") center / 100% 100%;
}
