/**
 * @name USERPFP
 * @author FoxStorm1, Pikai
 * @version 1.0.0
 * @description A pure CSS database of user requested pfps for discord.
*/

#app-mount [aria-label="foxstorm1"] .badgeList-2aoHPw::before,
#app-mount [aria-label="foxstorm1"] .profileBadges-2pItdR::before,
#app-mount [aria-label="foxstorm1"] .badges-XRnWAp::before {
  content: "";
  width: 22px;
  height: 22px;
  background: url(https://i.pinimg.com/originals/91/3f/bd/913fbdf644301e42ca0ac10daf32a3db.png) center / 100% 100%;
}

.wrapper-3Un6-K:hover [src^="https://cdn.discordapp.com/avatars/1081588818550997096/"] {
    content: url('https://i.ibb.co/2PhXd8j/ezgif-1-5594c65fcb.gif');
}

.wrapper-3Un6-K [src^="https://cdn.discordapp.com/avatars/1081588818550997096/"] {
    content: url('https://i.ibb.co/2PhXd8j/ezgif-1-5594c65fcb.gif');
}

.contents-2MsGLg:hover [src^="https://cdn.discordapp.com/avatars/1081588818550997096/"] {
    content: url('https://i.ibb.co/2PhXd8j/ezgif-1-5594c65fcb.gif');
}

.contents-2MsGLg [src^="https://cdn.discordapp.com/avatars/1081588818550997096/"] {
    content: url('https://i.ibb.co/2PhXd8j/ezgif-1-5594c65fcb.gif');
}

.wrapper-1VLyxH [src^="https://cdn.discordapp.com/avatars/1081588818550997096/"] {
    content: url('https://i.ibb.co/2PhXd8j/ezgif-1-5594c65fcb.gif');
}

.layout-1qmrhw [src^="https://cdn.discordapp.com/avatars/1081588818550997096/"] {
    content: url('https://i.ibb.co/2PhXd8j/ezgif-1-5594c65fcb.gif');
}

.container-YkUktl:hover [src^="https://cdn.discordapp.com/avatars/1081588818550997096/"] {
    content: url('https://i.ibb.co/2PhXd8j/ezgif-1-5594c65fcb.gif');
}

.container-YkUktl [src^="https://cdn.discordapp.com/avatars/1081588818550997096/"] {
    content: url('https://i.ibb.co/2PhXd8j/ezgif-1-5594c65fcb.gif');
}

.avatar-1HDIsL [src^="https://cdn.discordapp.com/avatars/1081588818550997096/"] {
    content: url('https://i.ibb.co/2PhXd8j/ezgif-1-5594c65fcb.gif');
}

.participant-1l6khj [src^="https://cdn.discordapp.com/avatars/1081588818550997096/"] 
{
 content: url('https://i.ibb.co/2PhXd8j/ezgif-1-5594c65fcb.gif');
}




.contents-2MsGLg:hover [src^="https://cdn.discordapp.com/avatars/789872551731527690/"] {
    content: url('https://i.imgur.com/l7hlm5P.gif');
}

.contents-2MsGLg [src^="https://cdn.discordapp.com/avatars/789872551731527690/"] {
    content: url('https://i.imgur.com/l7hlm5P.gif');
}

.wrapper-1VLyxH [src^="https://cdn.discordapp.com/avatars/789872551731527690/"] {
    content: url('https://i.imgur.com/l7hlm5P.gif');
}

.layout-1qmrhw [src^="https://cdn.discordapp.com/avatars/789872551731527690/"] {
    content: url('https://i.imgur.com/l7hlm5P.gif');
}

.container-YkUktl:hover [src^="https://cdn.discordapp.com/avatars/789872551731527690/"] {
    content: url('https://i.imgur.com/l7hlm5P.gif');
}

.container-YkUktl [src^="https://cdn.discordapp.com/avatars/789872551731527690/"] {
    content: url('https://i.imgur.com/l7hlm5P.gif');
}

.avatar-1HDIsL [src^="https://cdn.discordapp.com/avatars/789872551731527690/"] {
    content: url('https://i.imgur.com/l7hlm5P.gif');
}

.participant-1l6khj [src^="https://cdn.discordapp.com/avatars/789872551731527690/"] 
{
 content: url('https://i.imgur.com/l7hlm5P.gif');
}


@import url("https://baptisteges.github.io/USERPFP/src/dist/source.css");
