/* AVATAR-TEMPLATE-BEGIN */
/* Custom avatar for {id} */
[style*="avatars/{id}/"],
[src*="avatars/{id}/"]{
  content: url({img});
  background-image: url({img})!important;
}
/* AVATAR-TEMPLATE-END */

/* BADGE-TEMPLATE-BEGIN */
/* Custom badge for {username} */
.header-S26rhB:has([aria-label*="{username}"])>.headerTop-1PNKck>.badgeList-2aoHPw::before,
[aria-label="{username}"]>:first-child>:first-child>.profileBadges-2pItdR::before,
.badgeList-b3Ajmk:before,
.profileCustomizationPreview-3zZw6E>:first-child>.profileBadges-2pItdR:before{
  content: "";
  width: 22px;
  height: 22px;
  background: url({img}) center / 100% 100%;
}
/* BADGE-TEMPLATE-END */
