/* AVATAR-TEMPLATE-BEGIN */
/* Custom avatar for {id} */
[style*="avatars/{id}/"],
[src*="avatars/{id}/"]{
  content: url({img});
  background-image: url({img})!important;
}
/* AVATAR-TEMPLATE-END */

/* BADGE-TEMPLATE-BEGIN */
/* Custom badge for {username} */
.header-S26rhB:has([aria-label*="{username}"])>.headerTop-1PNKck>.badgeList-2aoHPw::before,
[aria-label="{username}"]>:first-child>:first-child>.profileBadges-2pItdR::before,
.userInfo-regn9W:has([aria-label*="{username}"])>:nth-child(2)>[role="group"]:before,
.baseLayout-1_9QRm:has([placeholder*="{username}"])>:last-child>:last-child>:last-child>[aria-label="User Badges"]:before{
  content: "";
  width: 22px;
  height: 22px;
  background: url({img}) center / 100% 100%;
}
/* BADGE-TEMPLATE-END */
