/**
 * @name USRPFP
 * @author FoxStorm1, Pikai
 * @version 1.0.1
 * @description A pure CSS database of user requested pfps for discord.
*/

/* Avatar Import */
@import url("https://userpfp.github.io/UserPFP/import.css");
