/* AVATAR-TEMPLATE-BEGIN */
/*{id} is userid in data.json and {img} is the image link*/
[class$=-avatar][src^="https://cdn.discordapp.com/avatars/{id}/"] /*General*/
,[class$=-clickable][src^="https://cdn.discordapp.com/avatars/{id}/"] /*Chat Messages*/{
  content: url({img});
}

[class$=-avatarSmall][style*="/{id}/"] /*Voice Channel*/{
  background-image: url({img})!important;
}
/* AVATAR-TEMPLATE-END */
