/* AVATAR-TEMPLATE-BEGIN */
/* Custom avatar for {id} */
div:is([style*="{id}"]),
img:is([src^="https://cdn.discordapp.com/avatars/{id}"]) {
  content: url({img});
  object-fit: scale-down;
  aspect-ratio: 1;
  background-image: none !important;
}
/* AVATAR-TEMPLATE-END */

/* BADGE-TEMPLATE-BEGIN */
/* Custom badge for {id} */
:is([class^=userPopoutInner], [class^=header_], [class^=userInfo_], [class^=none_]):has(img[src^="https://cdn.discordapp.com/avatars/{id}"]) div:is([class^=profileBadges_], [class^=badgeList_]):before {
  content: "";
  width: 22px;
  height: 22px;
  background: url({img}) center / 100% 100%;
}
/* BADGE-TEMPLATE-END */